body {
  background-color: #20686c;
  font-family: 'Della Respira', serif;
}

li {
  list-style-type: none;
}

a, a:visited, a:active {
  text-decoration: underline;
  color: inherit;
}

img {
  object-fit: cover;
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #bc4f07;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #AC3B61;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Home Page Styling */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wordle {
  width: 500px;
  object-fit: cover;
  border: 11px ridge #ff8652;
  margin: 10px;
}

.home-body {
  text-align: center;
  background-color: #003f5a;
  color: #fe982a;
  margin: 10px;
  padding: 5px;
  border: 11px ridge #bc4f07;
}


.home-content {
  text-align: center;
  background-color: #005236;
  margin: 10px;
  width: 70%;
  border: 11px ridge #6bc4a6;
  color: whitesmoke;
  padding: 5px;
}

/* LogIn Styling */

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #fe982a;
  width: 50%;
  border: 11px ridge #6bc4a6;
  text-align: center;
  padding: 10px;
}


